h1{
	color: green;
    font-size: 60px;
    background-color: black;
}

.box{
	height: 80px;
	background-color: blue;
	margin-bottom: 10px;
}

.box1{
	height: 80px;
	background-color: black;
	margin-bottom: 10px;
}
.alert-item{
	padding: 50px 0;
}
.alert-custom{

	background-color: #f1dd4c;
	border-color: #00000d;
}
